.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 10;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 0 40px;
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;

  .close-icon {
    cursor: pointer;
  }
}

.content {
  width: 100%;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;

  input {
    flex: 1;
  }
}

.member-list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;

  .member-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .member-avatar {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    .member-name {
      margin-left: 20px;
    }
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  gap: 20px;

  .btn {
    border: 1px solid #ccc;
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn.primary {
    background-color: rgb(31, 118, 0);
    color: #fff;
  }
}
