.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  display: flex;
}

.content {
  flex: 1;
  height: 100%;
}
