.header {
  background-color:rgb(65, 42, 133);
  padding: 10px;
}

.title {
  margin: 8px 20px 8px 20px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 600;
}

.login-button {
  width: 80px;
  height: 40px;
  margin-right: 20px;
  margin-left: auto;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  border-style: none;
  background-color: rgb(93, 101, 255);
}
